

/*
Main App component, all of the componenets -
will inherit these styles and backgorunds
*/
*{
  font-family: 'Single Day', cursive;
  margin: 0px;
}

body{
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  background-image: url('../Assets/SunsetBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: fit-content;
  min-height: 100vh; /* Set the height to 100% of the viewport height */
  text-align: center;
  height: fit-content;
  object-fit:contain;
  position: relative;
}
.Header{
  color: #fff;
  padding: 20px;
  text-shadow: 2px 2px 4px #a95528;
  margin: 0;
}
/*
Universal List style
*/
ul {
  list-style-type: none;
  padding: 0;
  
}


/*
Universal Buttons
If a button has different style it is specified by className
*/
button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 5px black;
  transition: 0.5s ease;
}

button:hover{
  border-radius: 8px;
  background-color: rgb(245, 130, 25);
  color: #fff;
}

.LeaderBoard, .Quiz, .SolarEclipse, .Info{
  margin-top: 40px;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.error-message > span{

  background-color: #ffffff;
  color: red;
  padding: 4px;
}

/*
Navigation Styles
*/

.NavigationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto; /* Adjusted to automatic height */
  width: 100%;
}

.NavigationLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.NavigationLinks a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  box-shadow: 2px 2px 2px black;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block; /* Ensure each link is a block element */
  width: 100px; /* Make each link take up the full width of the container */
}

.NavigationLinks a:hover {
  background-color: rgb(245, 95, 25);
}


/*
Authentication form
*/
.inputForm{
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  border-width: 1px;
}

.ParentFormHolder{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.FormsContainer{
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*
Leaderboard
*/
.LeaderBoard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LeaderboardHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 340px;
  border-bottom: #000 1px solid;
  padding: 4px 14px;
}

.LeaderboardHeader > span{
  font-size: 24px;
  color: whitesmoke;
}

.LeaderboardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 4px 14px;
}

.playerlist, .highlighted{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 340px;
  padding: 4px 14px;
}


.highlighted {
  color: whitesmoke;
  border-radius: 8px;
  background-color: rgb(34, 120, 23); /* Change this to your desired highlight color */
  font-weight: bold; /* Optionally make the text bold */
  /* Add any other styles you want for highlighting */
}

li{
  list-style: none;
}


/*
Quiz container and elements
*/

.Quiz, .Quiz-main{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  
}

.Quiz-main > h2{
  margin: 20px;
  color: black;
  font-size:x-large;
}

.Quiz-main{
  margin: 20px;
  color: whitesmoke;
  font-size: 34px;
}

.Quiz-main, .CompletedRound{
  width: 340px;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 10px 10px 10px black;
  height: 500px;
}

/*
Diffferent paragraphs, could be simplified!!?
*/
.p1{
  margin-top: 40px;
  font-size: 30px;
  color: whitesmoke;

}

.p4{
  margin-top: 30px;
  font-size: x-large;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 380px;
  height: 400px;
}

.question-box {
  float: left;
  border: none;
  padding: 20px;
  height: 70px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 150px;
}

.score{
  color: black;
}

.Timer{
  font-size: 30px;
}
/*-------------------*/

/*
Solar eclipse component
*/

.SolarTimer{
  display: flex;
  justify-content: center;
}
.SolarTimer > div{
  margin: 10px;
}
.SolarTime{
  font-size: 30px;
}

.SolarTimerparag{
  font-size: 12px;
}
/*
Sun
*/
.SunContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Sun {
  background-image: url('../Assets/Sun.png');
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  /* Ensure that the element has some content or dimensions to show the background */
  border-radius: 50%; /* Example: Make it a circle */
}
.Moon{
  background-image: url('../Assets/Moon.png');
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  /* Ensure that the element has some content or dimensions to show the background */
  border-radius: 50%; /* Example: Make it a circle */
}
/*
Information component
*/
.Info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  flex-wrap: wrap;
  width: 100px;
  padding: 2px;
  height: 64px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 5px black;
  transition: 0.2s ease;
  margin-bottom: 30px;
}

.infoBox:hover{
  border-radius: 8px;
  background-color: rgb(245, 130, 25);
  color: #fff;
}

/*
Sign out button
*/

.SignOutButton{
  margin-top: 20px;
  width: 100px;
}


@media screen and (max-width:500px
) {
  .NavigationLinks{

  }
}

.Credits {
  background-color: #0d5d0d;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  bottom: -200px;
  position: absolute;
}

.Credits > div{
  color: white;
}