
.App {
  background-image: url('../Assets/mySVG2.svg'), url('../Assets/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: fit-content;
  object-fit: contain;
  text-align: center;
  height: fit-content;
  object-fit:contain
}
/* Rotate the first background image by 180 degrees */
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('../Assets/mySVG2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}

/* Add this to your existing App.css */
.H1 {
  padding: 20px;
  text-shadow: 2px 2px 4px #a95528;
}

h1 {
  margin: 0;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

nav a:hover {
  background-color: rgb(245, 95, 25);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: #a95528 1px 5px 5px;
  transition: 0.5s ease;
}

button:hover{
  box-shadow: #a95528 1px 10px 5px;
  background-color: rgb(245, 130, 25);
}

.score {
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
}

p {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
  
}

.AuthenticationForm{
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border-width: 1px;
}

.Quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 480px;
}

.question-box {
  float: left;
  border: none;
  padding: 20px;
  height: 70px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.SignOutButton{
  width: 100px;
}